{$h1}Mapa{$_h1}

<img src="cid:mapa">

{$br}

{$h2}Profundidad{$_h2}
{$p}
	<b>[+]</b> 
	[:20,1:]
		<a href="mailto:{$_SERVICE_EMAIL}?subject=MAPA {$value}x {$argument}">{$value}x</a>&nbsp;
	[/]
	<b>[-]</b>
{$_p}
